* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


canvas {
    border: 1px solid #000;
    background: black;
    display: block;
    margin: 0 auto;
    
    position: absolute;
    top: 0;
    left: 0;
}